<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <meta charset="utf-8">
    <title>SOL</title>
  </head>
  <body>

         <% include ../../templates/header.ejs %>

         <div id="maincontent">
           <h1 id="subtitle"> Chart  </h1>



  </div>
  <% include ../../templates/footer.ejs %>

</body>
</html>
