<!DOCTYPE html>
<html>
    <div class="thintopbar"></div>
  <head>
    <% include partials/head %>
    <meta charset="utf-8">
    <title>SOL</title>
  </head>
  <link rel="shortcut icon" type="image/x-icon" href="./images/favicon.ico" />
        <% include ../templates/header.ejs %>

        <% include ../templates/footer.ejs %>

  <div class="wallpaper">
  <div class="wallpapertextbox">
    <div class="wallpapertitle">
      SOL
    </div>
    <br/><br/>
    <div class="wallpaperdesc">
      Your online staffing tool.
    </div>
  </div>
</div>

  <section class="landing-info">
  <div class="one">
    <img src="../images/browser-iconbw.png" />
    <p>
    See a holistic view of your program.  See all the workstreams and the supporting staff for each of your engagements in one comprehensive dashboard.
    </p>
  </div>
  <div class="two">
    <img src="../images/clock-iconbw.png" />
    <p>
      You're on the clock, and we understand that.  Staffing Online provides a utility to see real-time funding metrics of your project.
    </p>
  </div>
  <div class="three">
    <img src="../images/analytics-iconbw.png" />
    <p>
      Extensibility is the key to ensuring the longevity of your project management tools and, ultimately the reduction in your overhead. Staffing Online is based on an easy-to-upgrade platform to meet your future project management needs.
    </p>
  </div>
</br>
</section>
</html>
