<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <meta charset="utf-8">
    <title>SOL</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../../images/favicon.ico" />

  </head>
  <body>

 <% include ../../templates/header.ejs %>

      <div id="maincontent">
        <h1 id="subtitle">Work Authorization</h1>

        <a id="submenu" href="/sol/workauthorizations/newworkauthorization">ADD WORK AUTHORIZATION</a><br/>

        <ol>
            <% for(var i = 0; i < workauthorizations.length; i++){ %>
                <li>
              <a href="/sol/workauthorizations/<%=workauthorizations[i]._id%>"><%=workauthorizations[i].title; %></a><br/>
                </li>
            <% } %>
        </ol>

      </div>
      <% include ../../templates/footer.ejs %>
  </body>
</html>
