<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <meta charset="utf-8">
    <title>SOL</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../../images/favicon.ico" />

  </head>
  <body>

     <% include ../../templates/header.ejs %>

     <div id="maincontent">
       <h1 id="subtitle"> Add a Work Authorization </h1><br/>
    <form id="subtitle" action="/sol/workauthorizations" method="POST">
      <table>
        <tr>
          <td align="right">
           title:
         </td>
         <td>
            <input type="text" name="title" />
          </td>
        </tr>
        <tr>
          <td align="right">
           chargecode:
         </td>
         <td>
           <input type="text" name="chargecode" />
         </td>
       </tr>
       <tr>
         <td align="right">
           allocation name:
         </td>
         <td>
           <input type="text" name="allocationname" />
         </td>
       </tr>
       <tr>
         <td align="right">
           allocation hours:
         </td>
         <td>
           <input type="Number" name="allocationhours" />
         </td>
         </table>
         <!-- title: <input type="text" name="title" /><br/>
         chargecode: <input type="text" name="chargecode" /><br/>
         allocationanme: <input type="text" name="allocationname" /><br/>
         allocationhours: <input type="Number" name="allocationhours" /><br/> -->
    <br/><br>

           <input id="submenu" type="submit" name="" value="Create Workauthorization"/>
    </form>
</div>
<% include ../../templates/footer.ejs %>

</body>
</html>
