<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <meta charset="utf-8">
    <title>SOL</title>
      <link rel="shortcut icon" type="image/x-icon" href="../../images/favicon.ico" />
  </head>
  <body>
    <header class="header">
      <div class="topbar">
        <div class="topbar-left">
          <a id="" href="/" target="_parent" style="color: white; text-decoration: none;"><font size="5">SOL</font> </a></br>
          <font size="1"> <i>Staffing Online</i></font>
        </div>
      </div>
        <!-- <body background="/css/wificity3.jpg"> -->
      <h1 id="subtitle">Create User</h1>
      <form id="submenu" action="/users" method="POST">
        <table>
          <tr>
            <td align="right">
              username:
            </td>
            <td>
              <input type="text" name="username" placeholder="username"/>
            </td>
          </tr>
          <tr>
            <td align="right">
              password:
            </td>
            <td>
              <input type="password" name="password" placeholder="password"/>
            </td>
          </tr>
          <tr>
            <td align="right">
              email:
            </td>
            <td>
              <input type="text" name="email" placeholder="email"/>
            </td>
          </tr>
          <tr>
            <td align="right">
              image:
            </td>
            <td>
              <input type="text" name="img" placeholder="img"/>
            </td>
          </tr>
          <tr>
            <td align="right">
              role:
            </td>
            <td>
              <input type="text" name="role" placeholder="role"/>
            </td>
          </tr>
        </table>

          <input type="submit" value="Create User" />
      </form>
      <div class="bottombar">GA WDIR - Final Project</div>
    </header>
  </body>
</html>
